@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #031026;
  --color-secondary: #ec4e20;
  --color-tertiary: #ffca3a;
  --color-tertiary-dark: #ffbe0a;
  --color-neutral-w: #f0f3f5;
  --color-neutral-b: #021312;
}

.bg-nav-gradient {
  background: rgb(3, 16, 38);
  background: linear-gradient(
    180deg,
    rgba(3, 16, 38, 1) 0%,
    rgba(3, 16, 38, 1) 90%,
    rgba(255, 202, 58, 1) 100%
  );
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}

.map > div {
  width: 100% important!;
}

.outer {
  position: relative;
}

.inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.absolute-btn-wrapper {
  position: relative;
}

.horizontal-center-btn {
  position: absolute;
  top: 13.5%;
  right: 50%;
  transform: translate(50%, -50%);
}
